




<div class="container">
  <div class="cover-photo">
    <img 
    src="{{this.clientService.host +'/api/Imgclients/'+client.id}}"
    class="profile">
  </div>
  <div class="profile-name">Name :{{client.clientname}}</div>
  <br>
  <br>
  <div>
    <label><b>id = </b></label>{{client.id}}
</div>
<div>
    <label><b>code = </b></label>{{client.code}}
</div>
 
 <div>
    <label><b>adresse = </b></label>{{client.adresse}}
</div> 
 <div>
    <label><b>Téléphone = </b></label>{{client.tel}}
</div> 
<div>
    <label><b>E-mail = </b></label>{{client.email}}
</div>    
<div>
    <label><b>Fax = </b></label>{{client.fax}}
</div>    
<div>
    <label><b>Mot de passe = </b></label>{{client.pwd}}
</div>
<button class="follow-btn" (click)="back()">Back</button>

</div>
<section>
    
</section>
