<h3>Details fournisseur </h3>
<div>
    <div>
        <label><b>id = </b></label>{{fournisseur.id}}
    </div>
    <div>
        <label><b>code = </b></label>{{fournisseur.code}}
    </div>
    <div>
        <label><b>Username = </b></label>{{fournisseur.fourName}}
    </div> 
     <div>
        <label><b>adresse = </b></label>{{fournisseur.adresse}}
    </div> 
     <div>
        <label><b>Téléphone = </b></label>{{fournisseur.tel}}
    </div> 
    <div>
        <label><b>E-mail = </b></label>{{fournisseur.email}}
    </div>    
    <div>
        <label><b>Fax = </b></label>{{fournisseur.fax}}
    </div>    

</div>